/* Estilos para .personalInfo */
.personalInfo {
    width: 80%;
    height: calc(100dvh - 30px); /* 100dvh menos la altura del navbar */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 70px; /* Igual a la altura del navbar */
    box-sizing: border-box;
}

/* Estilos para .personalContent */
.personalContent {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Estilos para .personalImg */
.personalImg {
    width: 70%;
    height: 100%;
    
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.personalImg img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   border-top-left-radius: 10%;
}

/* Estilos para .personalInformation */
.personalInformation {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgb(201, 200, 200);
    border-bottom-right-radius: 10%;
}

.personalInformation a{
    text-decoration: none;
    font-size: 26px;
    color: #444;
    font-weight: 600;
}

.personalContent a:hover{
    color: #00abf0;
}

.tegnologias{
    width: 80%;
    height: calc(100dvh - 70px);;
    background-color: rgb(201, 200, 200);
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    align-items: center;
}
.tegnologiasTop{
    width: 40%;
    height: 100%;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tegnologias h3{
    font-size: 40px;
    color: #ffffff;
    font-weight: 900;
   

}



.tengologiasAprendidas{
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
}