@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif ;
}

body{
    background: #081b29;
    color: white;
    user-select: none; /*No podran seleccionar el texto.*/
    z-index: -10;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500px;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #00abf0
}


.home{
    height: 100dvh;
    background: url();
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 10%;
}


.home-content{
    /* max-width: 700px; */
    width: 100%;
    margin-top: 200px;
}

.home-content .img{
   height: auto;
   overflow: hidden;
   z-index: 20;
}

.home-content img{
    max-width: 60%;
    min-width: 500px;
    max-height: 500px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-position: left;
}

.home-content h1{
    font-size: 51px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0
}

.home-content p{
    font-size: 16px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.home-content .btn-box{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: 50px;

}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: auto;
  }
  
  .home {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 10%;
    overflow: hidden;
  }

  .next-page{
    font-size: 7em;
    margin-top: 50px;
  }

  .next-page a{
    color: #00abf0;
  }
  .next-page a:hover{
    color: #c0e8f5;
  }



.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;
}


.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#081b29;
    z-index: -1;
    transition: 0.5s;

}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 220px;
    display: flex; 
    justify-content: space-between;   
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-sci a:hover{
    color: #081b29;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:  0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

/*Experiencia*/
.experiencia{
    text-align: center;
    align-items: center; 
    z-index: 30;
}

h2{
    font-size: 3em;
}

.experiencia_content{
    background-color: #ddd9d9;
    height: 30dvh;
    width: 70%;
    margin: auto; 
    border-radius: 10px;
    z-index: 30;
}

.experiencias{
    width: 70%;
    height: 100%;
    float: left;
    color: #444;
    z-index: 100;
   
}
.experiencias h3{
    font-size: 2em;
    align-items: center;
    text-align: left;
    margin-left: 20px;
    margin-top: 40px;
    
}

.experiencia ul{
    margin: auto;
    align-items: center;
    list-style: none;
    text-align: left;
    margin-left: 30px;
    font-size: 18px;
    text-wrap: pretty;
    padding: 30px;
}

.logo_experiencia{
    width: 30%;
    height: 100%;
    background-image: url(../img/Logo_GSE.png);
    float: right;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    padding: 20px;
    
    background-position: center;
    
}


/*Vista 3*/
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    flex-direction: column;
    gap: 40px;
}

.card {
    display: flex;
    max-width: 70%;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #ddd9d9;
    padding: 20px;
    opacity: 0; /* Inicialmente invisible para la animación */
    transform: translateY(20px); /* Desplaza hacia abajo para la animación */
    animation: fadeInUp 1s forwards; /* Aplica la animación */
}

.card-content {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img {
    width: 50%;
    height: 100%;
    overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease; /* Animación de zoom en hover */
}

.card-img:hover img {
    transform: scale(1.1); /* Efecto zoom al hacer hover */
}

.card-content h3 {
    color: #00abf0;
    font-size: 28px;
    margin: 10px 0;
}

.card-content p {
    color: #333;
    margin-bottom: 20px;
}

.btn-box {
    display: flex;
    gap: 10px;
}

.btn-box a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Añadir transición para color y transform */
}

.btn-box a:hover {
    transform: scale(1.05); /* Efecto de escalado al hacer hover */
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer{
    width: 100%;
    height: 160px;
    background-color: #ffffff ;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    

footer a{
    text-decoration: none;
    color: #333;
   
}

footer a:hover{
    color: rgb(55, 117, 117);
}


 
